rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function canManageMenu() {
      return signedIn() && (userDoc().data.role == 'owner' || userDoc().data.rights.manageMenu == true);
    }

    function canManageDeals() {
      return signedIn() && (userDoc().data.role == 'owner' || userDoc().data.rights.manageDeals == true);
    }

    match /products/{fileName} {
      allow read: if true;
      allow write: if canManageMenu() && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }

    match /deals/{fileName} {
      allow read: if true;
      allow write: if canManageDeals() && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
